.main-content__titel {
    font-family: "PT Serif", Arial, Helvetica, Sans-serif; /*'Roboto', sans-serif*/
} 

.wrapper {
    margin: auto; 
    margin-left: 10px;
    width: 80%; 
} 

.header {
    padding: 40px 0;
    display: flex; 
    justify-content: space-between; 
}

.logo {
    position: relative;
    left: 0px;
    padding: 0px 0;
    /*width: 140px;
    height: 35px;*/
    padding-left: 44px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
} 

 .logo__circle_color_dark-blue {
    background: #0056EC;
    border-radius: 50%;
    opacity: .7;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    border-radius: 50%;
    opacity: .7;
}

.logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
}

.menu {
    display: flex;
    align-items: center; 
}   

.menu__item {
    position: relative;
    margin-right: 16px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s; 
} 

.menu__item:last-child {
    margin-right: 0;
} 

.menu__item_active:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
}

.menu__item:hover {
    opacity: .5s;
}

.menu__item:hover:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056EC;
}

.menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
}


.menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
}

.main {
     padding: 0 63% 300px 0;
     background: top right no-repeat url('img/mainImg.svg');
}

.main__title {
    margin: 0 -46px 30px 0;
    font: bold 45px/60px pt_serif, arial, helvetica, sans-serif;
}

.main__subtitle {
    margin: auto;
    margin-left: 48px;
    font: 18px/21px PT Serif, arial, helvetica, sans-serif;
    margin-top:20px: 
}


.main__button {
    display: inline-block;
    font: 14px/16px PT Serif, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
    margin-left: 44px;
}

.main__button:hover {
    opacity: .5;
}


.main__title-text_highlight {
    background: #ECF3FF;
    font-family: "PT Serif", Arial, Helvetica, Sans-serif;
}


/* Условие для экранов с шириной 1920px*/
@media (max-width: 1920px) {

.wrapper {
    margin: auto;
    margin-left: 161px;
    width: 70%;
    margin-block: 32px;
    margin-right: 0px;
}

.logo {
    position: relative;
    margin-top: -89px;
    left: 0px;
    padding: 51px 0;
    /*width: 140px;
    height: 35px;*/
    padding-left: 38px;
    font: bold 21px/31px pt_serif, arial, helvetica, sans-serif;
} 

.logo__circle {
    position: absolute;
    margin-top: -45px;
    left: 7;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: .7;
}

 .logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu {
    display: flex;
    /* align-items: flex-end; */
    margin-top: -31px;
    margin-left: 768px;
    margin-bottom: 137px;
}
.menu__item {
    position: relative;
    margin-right: 25px;
    font: 500 15px/19px Roboto, arial, helvetica, sans-serif;
    color: #000;
    white-space: pre;
    }
    
.main {
    padding: 123px 0px 0px 0;
    margin: 2px -86px 0px 0px;
    background: top right no-repeat url(img/mainImg.svg);
    font: 500 16px/19px "PT Serif", Arial, Helvetica, Sans-serif;
    background-size: 666px 562px;
    background-position: 647px -30px; 
}

.main__title {
    margin: -87px 0px 31px 0px;
    font: bold 58px/73px "PT Serif", arial, helvetica, sans-serif;
    font-family: "PT Serif", Arial, Helvetica, Sans-serif;
}

.main__subtitle {
    margin-bottom: 32px;
    margin-left: -1px;
    margin-right: 80px;
    margin-top: 35px;
    font: 19px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
    display: inline-block;
    font: 15.2px/22.3px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 15.1px 26.1px;
    text-decoration: none;
    /*border-radius: 4px;*/
    transition: opacity .5s;
    margin-left: 0px;
    margin-top: 3px;
}

#circle {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: 229px;
    margin-left: 643px;
}
#circle1 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 654px;
}
#circle2 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 665px;
}
.footer {
    height:38px !important;
    overflow: hidden;
    background-repeat: repeat-x;
}

#menu__toggle {
  display: none;
}

#checkbox {
display: none;
}

.menu__box {
display: none;
}

}

/* Условие для экранов с шириной 1366px*/
@media (max-width: 1366px) {

 .wrapper {
    margin: inherit;
    margin-left: 198px;
    width: 63%;
    margin-block: 36px;
    margin-right: 0;
}


.logo {
    position: relative;
    margin-top: -89px;
    left: 0px;
    padding: 50px 0;
    /*width: 140px;
    height: 35px;*/
    padding-left: 44px;
    font: bold 23px/33px pt_serif, arial, helvetica, sans-serif;
    }

.main {
    padding: 0px 0px 0px 0;
    margin: 0px -203px 0px 0px;
    background: top right no-repeat url(img/mainImg.svg);
    font: 500 16px/19px pt_serif, arial, helvetica, sans-serif;
    background-size: 484px 413px;
    background-position: 389px -17px;
}

.main-content {
    padding: 69px 17% 243px 0px;
    background: right no-repeat url(img/mainImg.svg);
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    background-size: 501px 440px;
}

.menu {
    display: flex;
    margin-top: -30px;
    margin-left: 381px;
    margin-bottom: 139px;
}

.menu__item {
    position: relative;
    margin-right: 11px;
    margin-left: 13px;
    font: 500 13px/19px Roboto, arial, helvetica, sans-serif;
    color: #000;
    white-space: pre;
}

.main__title {
    margin: -44px 0px 36px -1px;
    font: bold 49px/61px pt_serif, arial, helvetica, sans-serif;
    font-size:48px;
}


.main__title-text_highlight {
    margin: -115px 0px 36px -1px;
    font: bold 49px/61px pt_serif, arial, helvetica, sans-serif;
    font-size: 49px;
}

.main__title-text {
    margin: -115px 0px 36px -1px;
    font: bold 49px/61px pt_serif, arial, helvetica, sans-serif;
    font-size: 47px;
}

.main__subtitle {
    margin-bottom: 37px;
    margin-left: -4px;
    margin-right: 68px;
    font: 17px/21px Roboto, arial, helvetica, sans-serif;
}
.main__button {
    display: inline-block;
    font: 14px/12px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 15px 14px;
    text-decoration: none;
    transition: opacity .5s;
    margin-left: 0px;
}

#circle {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: 138px;
    margin-left: 420px;
}

#circle1 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 432px;
}

#circle2 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 445px;
}

.mobile-nav {
        width: 320px;
        right: -320px;
}


.mobile-nav--active {
    transform: translateX(-100%);
}

.mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: white;
}

.mobile-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin-bottom: 30px;
}

.mobile-nav__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

.mobile-nav__link:hover {
    color: black;
}

/*.hamburger-menu {
display: none;
}*/

.menu__box {
  display: none;
}
}

/* Условие для экранов с шириной от 0 до 1024px*/

@media (max-width: 1024px) { 

.wrapper {
    margin: inherit;
    margin-left: 35px;
    width: 65%;
    margin-block: -39px;
    margin-right: 0px;
}

.logo {
    position: sticky;
    margin-top: 5px;
    padding: 50px 0;
    /*width: 140px;
    height: 35px;*/
    padding-left: 44px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
} 

.logo__circle {
    position: absolute;
    margin-top: 13px;
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: .7;
}

 .logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu {
    display: flex;
    margin-top: -2px;
    margin-left: 407px;
    margin-bottom: -81px;
}

.menu__item {
    position: relative;
    margin-right: 15px;
    /*margin-left: 10px;
    font: 500 13px/19px Roboto, arial, helvetica, sans-serif;
    color: #000;
    white-space: pre;*/
 } 

.header {
    margin-bottom: 0px;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    height: 66px;
    width: 329px;
}

.main {
    padding: 393px 0px 22px;
    margin: 0px -269px 0px 0px; 
    background-size: 400px 350px;
    background-position: 240px 1px;
    background: right no-repeat url(img/mainImg.svg); 
    font-family: "PT Serif", Arial, Helvetica, Sans-serif;

}    

.main__title {
    margin-bottom: 29px;
    margin-left: 2px;
    margin-top: -248px;
    font: bold 50px/62px pt_serif, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
    background: #ECF3FF;
    font: bold 51px/61px pt_serif, arial, helvetica, sans-serif;
}  

.main__title-text {
    margin: -115px 0px 36px -1px;
    font: bold 51px/61px pt_serif, arial, helvetica, sans-serif;
    font-size: 48px;
}    

.main__subtitle {
    margin-bottom: 37px;
    margin-top: 38px;
    font: 947 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
    display: inline-block;
    font: 14px/12px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 16px 19px;
    text-decoration: none;
    transition: opacity .5s;
    margin-top: 3px;
    margin-left: 0px;
}

#circle {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: 145px;
    margin-left: 442px;
}

#circle1 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 453px;
}

#circle2 {
    width: 7px;
    height: 7px;
    background: rgb(212, 223, 232);
    border-radius: 60px;
    margin-top: -7px;
    margin-left: 466px;
}

.menu__box {
  display: none;
}

}

/* из видео к уроку 9*/
@media (max-width: 768px) {

/*.menu {
    display: none;
 }*/

.header {
    margin-bottom: 0px;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    height: 66px;
    width: 329px;
    padding-right: 0px; 
    padding-left: 9px;
}

/* --------------- Mobile navigation button ----------- */
.menu-icon {
    z-index: 19;
    position: relative;
    display: none;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

/*--- Условие для экранов с шириной от 0 до 768px---*/ 
@media (max-width: 768px) {
/*.menu-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 13px 96px;
}*/

.logo__circle {
    position: absolute;
    margin-top: 13px;
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: .7;
}

 .logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu-icon-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: black;
}

.menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*.hamburger-menu {
display: none;
}

.menu__box {
  display: none;
}*/
}

/* Условие для экранов с шириной от 0 до 375px */
@media (max-width: 375px) {

.wrapper {
    margin:0px;
    width: 27%;
    margin-block; 240px;
    margin-right; 0;
    margin-top: -13px;
}

.header {
    margin-bottom: 0px;
    padding: 29px 0;
    justify-content: space-between;
    height: 66px;
}

.logo {
    display: flex;
    position: sticky;
    overflow: hidden;
    padding: 32px;
    /*width: 0px;
    height: 35px;
    padding-left: 190px;*/
    background: url('img/Group.svg')no-repeat;
    margin-top: 0px; 
    margin: 0px 16px;
    text-indent: -9999px;
}  

.logo__circle {
    display: none;
}

.menu {
    display: none;
    margin-top: 0px;
    margin-left: 406px;
    margin-bottom: -81px;
}

.main__title {
    margin-bottom: 32px;
    margin-left: 10px;
    font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
}    
.menu__item {
    position: relative;
    margin-right: 17px;
 }

.main {
    text-align: center;
    margin-top: -30px;
    margin-left: -3px;
    padding: 275% 0 0;
    background-size: 75%;
    background-position: top center;
    font-family: "PT Serif", Arial, Helvetica, Sans-serif;
 }

.main__title {
    margin-bottom: 28px;
    margin-top: -6px;
    margin-left: 0px;
    font: bold 31px/39px pt_serif, arial, helvetica, sans-serif;
    line-height: 1.2;
}

.main__title-text_highlight {
    background: #ECF3FF;
    font: bold 31px/61px pt_serif, arial, helvetica, sans-serif;
    line-height: 1;
}
.main__title-text {
    margin: -111px -6px 0px 0px;
    font: bold 26px/46px pt_serif, arial, helvetica, sans-serif;
    font-size: 29px;
}

.main__subtitle {
    margin-bottom: 25px;
    font: 950 16px/19px Roboto, arial, helvetica, sans-serif;
    margin: 14px 64px;
}

.main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 13px 25px;
    padding-top: 15px;
    margin-left: -10px;
    margin-top: -8px; 
}

/* ----------------- Мобильная навигация ----------------- */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  width: 381px;
  padding-right: 10px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
  left: 14px;
  width: 25px;
  height: 14px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #0056ec;;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0px -15px;
  padding: 180px 0px;
  list-style: none;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: table-cell;
  padding: 16px 5px 25px 25px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 31px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#circle {
display: none;
}

#circle1  {
display: none;
}

#circle2 {
display: none;
}
}