.main-content__titel {
	font-family: 'Roboto', sans-serif
} 

.wrapper {
	margin: auto; 
	width: 80%; 
} 

.header {
	padding: 40px 0;
	display: flex; 
	justify-content: space-between; 
} 

.logo {
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
} 

.menu {
	display: flex;
	align-items: center; 
} 	

.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s; 
} 

.menu__item:last-child {
	margin-right: 0;
} 

.menu__item_active::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}

.menu__item:hover {
	opacity: 0.5s;
}

.menu__item:hover:after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
}

.menu__item:after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}


.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}

.main {
	 padding: 0 63% 300px 0;
	 background: top right no-repeat url(img/mainImg.svg);
}


.main__title {
	margin: 0 0 40px 0;
	font: bold 45px/60px pt_serif, arial, helvetica, sans-serif;
}

.main__subtitle {
	margin: 0 0 41px 0;
	font: 18px/21px Roboto, arial, helvetica, sans-serif;
}


.main__button {
	display: inline-block;
	font: 14px/16px Roboto, arial, helvetica, sans-serif;
	color: #fff;
	background: #0056EC;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity .5s;
}

.main__button:hover {
	opacity: .5;
}


.main__title-text_highlight {
	background: #ECF3FF;
}

@media (max-width: 768px) {
.menu {
	display: none;
 }

.header {
	margin-bottom: 28px;
}

.main {
	text-align: center;
	padding: 74% 0 0;
	background-size: 74%;
	background-position: top center;
 }

.main__title {
	margin-bottom: 44px;
	font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
}

.main__subtitle {
	margin-bottom: 25px;
	font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
}

.main__button {
	font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}

 }
/* --------------- Mobile navigation button ----------- */
.menu-icon {
    z-index: 19;
    position: relative;
    display: none;
	width: 30px;
    height: 30px;
    cursor: pointer;
}
/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-icon-line {
	position: relative;
	width: 30px;
	height: 5px;
	background-color: black;
}

.menu-icon-line::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: black;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: black;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
	background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* ----------------- Мобильная навигация ----------------- */

.mobile-nav {
    z-index: 9;
    display: block;
    position: absolute;
    right: -550px;
    top: 0;
    height: 100%;
    width: 350px;
    padding: 50px;
    background-color: white;
    transition: transform 0.4s ease-in;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 1200px) {
    .mobile-nav {
        width: 320px;
        right: -320px;
    }
}

.mobile-nav--active {
    transform: translateX(-100%);
}

.mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: white;
}

.mobile-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin-bottom: 30px;
}

.mobile-nav__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

.mobile-nav__link:hover {
    color: black;
}







